[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
asyncpg = "*"
python-dotenv = "*"
flask = {extras = ["async"], version = "*"}
flask-caching = "*"
redis = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
